/* 날짜 선택 컨테이너 */
.daterangepicker {
    width: 400px;
    height: 540px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 16px;
}
.daterangepicker:before,
.daterangepicker:after {
    /* 꼬리 제거*/
    display: none;
}

.daterangepicker .drp-calendar.left {
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 캘린더 컨테이너 */
.daterangepicker .drp-calendar {
    max-width: 100%;
    width: 400px;
    padding: 0px !important;
}
.calendar-table {
    width: 100%;
    padding-right: 0px !important;
}
.daterangepicker .calendar-table table {
    height: 455px;
}

/* 년도 월 row */
.table-condensed > thead > tr:nth-child(1) {
    height: 60px;
}
/* 요일 row */
.table-condensed > thead > tr:nth-child(2) {
    height: 43px;
}
/* 날짜 row */
.table-condensed > tbody > tr {
    height: 57px;
}

/* 년도 월 cel */
.table-condensed > thead > tr:nth-child(1) > th {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
/* 요일 cel */
.table-condensed > thead > tr:nth-child(2) > th {
    background: #FAFAFA;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}
/* 날짜 cel */
.table-condensed > tbody > tr > td {
    color: #0C0C0C;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 24px;
}
.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
    visibility: hidden;
    pointer-events: none;
}

/* 일요일인 col */
.table-condensed > tbody > tr > td:nth-child(1):not(.off) {
    color: #EA4E50;
}
/* 토요일일 col */
.table-condensed > tbody > tr > td:nth-child(7):not(.off) {
    color: #004FC5;
}

/* 선택한 날짜 cel */
.daterangepicker td.start-date.end-date {
    border-radius: 999px;
}
.daterangepicker td.start-date {
    border-radius: 999px 0 0 999px;
}
.daterangepicker td.end-date {
    border-radius: 0 999px 999px 0;
}
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.in-range,
.daterangepicker td.in-range:hover {
    background-color: #004FC5;
    color: #FFFFFF;
}

/* 선택 버튼 */
.daterangepicker.show-calendar .drp-buttons {
    display: none;
}
.apply-button {
    height: 60px;
    width: 360px;
    margin-bottom: 25px;

    border: 1px solid #004FC5;
    border-radius: 4px;

    background-color: #FFFFFF;
    color: #004FC5;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.apply-button:disabled {
    border-color: #D8D8D8;
    background-color: #FFFFFF !important;
    color: #D8D8D8 !important;
}
.apply-button:hover {
    background-color: #004FC5;
    color: #FFFFFF;
}
