<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- Index Page Content -->
<th:block layout:fragment="content">
    <div id="calendar" class="d-flex row justify-content-center align-items-center" style="height: 100vh; width: 100vw;">
        <div style="height: 85vh; width: 60vw;">
            <h4 class="mb-5">Calendar Page</h4>
            <div>
                <input id="datepicker" type="text">
                <span id="pickedTotal"></span>
            </div>
        </div>
    </div>
</th:block>
</html>